
/*-- Reset Code --*/
/*-- Refer to https://meyerweb.com/eric/tools/css/reset/ --*/

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;padding:0;margin:0;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	a{text-decoration:none;}
	.txt-rt{text-align:right;}
	.txt-lt{text-align:left;}
	.txt-center{text-align:center;}
	.float-rt{float:right;}
	.float-lt{float:left;}
	.clear{clear:both;}
	.pos-relative{position:relative;}
	.pos-absolute{position:absolute;}
	.vertical-base{vertical-align:baseline;}
	.vertical-top{vertical-align:top;}
	.underline{	padding-bottom:5px;	border-bottom:1px solid #eee;margin:0 0 20px 0;}
	nav.vertical ul li{display:block;}
	nav.horizontal ul li{display: inline-block;}
	img{max-width:100%;}

/*-- Reset Code --*/



body {
font-family:Verdana;
	background: url("../images/background2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #FFF;
	 'Quicksand', sans-serif;
	text-align: center;
}

input[type="button"], input[type="submit"] {
	transition: 0.5s all;
}


.login_form {
    width: 30%;
    margin-top: 100px;
    margin-left: 475px;
    /*margin: 0 auto;*/
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}

h2 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #fff;
    /*text-transform: uppercase;*/
}
input[type="text"], input[type="password"], input[type="email"]{
	width: 84%;
	padding: 15px 10px 15px;
	font-size: 14px;
	background: transparent;
	border: 2px solid #537b35;
	outline: none;
	margin-bottom: 26px;
	color: #fff;
	 'Quicksand', sans-serif;
}
input[type="text"]{
	background: url("../images/user.png") no-repeat 382px 11px;
	background-size: 25px;
}
input[type="email"] {
	background: url("../images/e-mail.png") no-repeat 340px 11px;
	background-size: 25px;
}

input[type="password"] {
	background: url("../images/password.png") no-repeat 340px 11px;
	background-size: 25px;
}

input[type="submit"] {
	font-size: 16px;
	padding: 10px 65px;
	background-color: #537b35;
	color: #FFF;
	border: none;
	border-radius: 0px;
	outline: none;
	float:none;
	cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #537b35;
}

.loginbutton p {
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.loginbutton p a {
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #fff;
}

.loginbutton p a span {
	font-size: 18px;
}

.loginbutton p a:hover {
	color: #537b35;
    border: 1px solid #537b35;
}

.footermessage {
	margin: 100px 0px 20px;
}

.footermessage p a {
	color: #000;
	font-weight:700;
}

.footermessage p {
    letter-spacing: 2px;
    color: #fff;
}

.footermessage p a:hover {
	color: #fff;
}


.register_form {
    width: 30%;
    margin-top: 40px;
    margin-left: 475px;
    /*margin: 0 auto;*/
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}


.registerbutton p {
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.registerbutton p a {
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #fff;
}

.registerbutton p a span {
	font-size: 18px;
}

.registerbutton p a:hover {
	color: #537b35;
    border: 1px solid #537b35;
}






